<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.ganeshhulyal.aidatalab">


    <!-- user Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:noHistory="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AIDataLab"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.PrivacyPolicyActivity"></activity>
        <activity android:name=".activities.DownloadAgreementActivity" />
        <activity android:name=".activities.UserFeedBackActivity" />
        <activity android:name=".activities.UploadMultipleVideo" />
        <activity android:name=".activities.UploadHumanAgreement" />
        <activity android:name=".activities.UploadMultipleHumanCentricAgreement" />
        <activity android:name=".activities.UploadAgreementActivity" />
        <activity android:name=".activities.UploadMultipleImage" />
        <activity android:name=".activities.UserUploadMenuActivity" />
        <activity android:name=".activities.MetaDataNonHumanCentricActivity" />
        <activity android:name=".activities.MetaDataHumanCentricActivity" />
        <activity android:name=".activities.UserCategoryActivity" />
        <activity android:name=".activities.UploadActivity" />
        <activity android:name=".activities.UploadHumanCentricAgreementActivity" />
        <activity android:name=".activities.UserMenu" />
        <activity android:name=".activities.ImageUploadNonHumanCentric" />
        <activity android:name=".activities.UserLoginActivity" />
        <activity android:name=".activities.UserRegistration" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>