<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.ganeshhulyal.ihds_dc">
    <!-- user Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:noHistory="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AIDataLab"
        android:usesCleartextTraffic="true">
        <activity
            android:name="in.ganeshhulyal.ihds_dc.activities.UpdatePassword"
            android:exported="true"></activity>
        <activity
            android:name="in.ganeshhulyal.ihds_dc.activities.ApproveUserProfile"
            android:exported="true" />
        <activity
            android:name="in.ganeshhulyal.ihds_dc.activities.WaitForApprovalActivity"
            android:exported="true" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.KLEPrivacyPolicy" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.UserDashboard" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.AdminApproveUsers" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.UserDetails" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.AdminViewUsers" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.AdminDashboard" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.PrivacyPolicyActivity" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.DownloadAgreementActivity" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.UserFeedBackActivity" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.UploadMultipleVideo" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.UploadHumanAgreement" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.UploadMultipleHumanCentricAgreement" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.UploadAgreementActivity" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.UploadMultipleImage" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.UserUploadMenuActivity" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.UploadAgreement" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.MetaDataNonHumanCentricActivity" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.MetaDataHumanCentricActivity" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.UserCategoryActivity" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.UploadActivity" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.UploadHumanCentricAgreementActivity" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.UserMenu" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.ImageUploadNonHumanCentric" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.UserLoginActivity" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.UserRegistration" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.MainActivity" />
        <activity android:name="in.ganeshhulyal.ihds_dc.activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>